* {
  margin: 0;
  font-family: sans-serif;
  color: white;
}

/* --- COLORS --- */
html {
  --blue: rgba(74, 128, 190, 0.87);
  --orange: rgb(255, 167, 2);
}

/*--- BASE STYLES --- */
body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 6fr 3fr;
}

header {
  padding: 10px;
  background-color: var(--blue);
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  justify-content: center;
}

nav {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-content: center;
}

main {
  padding: 20px;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

footer {
  padding: 10px;
  background-color: var(--blue);
  display: grid;
  grid-template-rows: 1fr 4fr;
  align-items: center;
}

/* --- MAIN STYLES --- */
h2 {
  font-size: 40px;
  color: var(--blue);
}

span {
  color: var(--blue);
  font-weight: 600;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 20px;
  color: black;
}

ul {
  list-style: none;
}

#logo {
  font-size: 28px;
  font-weight: 600;
  text-decoration: none;
}

.navi-link {
  font-size: 20px;
  text-decoration: none;
}

#intro {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

#social-media {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.button {
  width: 200px;
  height: 50px;
  margin-right: 10px;

  font-size: 20px;
  background-color: transparent;
  border: solid black 1px;
  border-radius: 15px;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.2);
}

.membership {
  color: var(--orange);
  background-color: transparent;
  border: solid var(--orange) 2px;
  box-shadow: none;
}

.instagram {
  background-color: rgb(105, 33, 105);
}

.facebook {
  background-color: rgb(5, 95, 199);
}

.youtube {
  background-color: red;
}

.features-items {
  font-weight: 600;
  margin: 5px;
}
